<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>总校报名学员</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>模糊查找</legend>
</fieldset>
<!-- <table class="layui-hide" id="demo" lay-filter="test"></table> -->


<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">

    </div>
</script>

<script type="text/html" id="currentTableBar">
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除学员</a>
</script>


<!--模糊查找选项-->
<div class="layui-row" id="search" >
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" lay-filter="aaa" action="" style="margin-top:20px">

            <div class="layui-form-item">
                <label class="layui-form-label">学员名</label>
                <div class="layui-input-block">
                    <input type="text" name="studentName"  placeholder="请输入学员姓名" autocomplete="off"
                           class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="" title="所有性别" checked>
                    <input type="radio" name="sex" value="男" title="男" >
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address"  placeholder="请输入身份上地址" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">身份证</label>
                <div class="layui-input-block">
                    <input type="text" name="idCard"  placeholder="请输入身份证号" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-block">
                    <input type="text" name="phone" placeholder="请输入11位电话号码"
                           autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">代理费</label>
                <div class="layui-input-block">
                    <input type="radio" name="amount" value="" title="全部代理费级别" checked>
                    <input type="radio" name="amount" value="2899" title="2899" >
                    <input type="radio" name="amount" value="2999" title="2999">
                    <input type="radio" name="amount" value="3099" title="3099">
                    <input type="radio" name="amount" value="3199" title="3199">
                    <input type="radio" name="amount" value="3299" title="3299">
                </div>
            </div>

            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="searchButton">确认</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="demo" lay-filter="test"></table>

<script src="layui/layui.js"></script>
<script>
    layui.use(['table', 'jquery', 'layer', 'form'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        //表格数据
        table.render({
            elem: '#demo'
            , totalRow: true
            , method: 'post'
            , url: "/admin/adminGetHqStudent" //数据接口
            , page: true //开启分页
            , id: 'testReload'
            , toolbar: '#toolbarDemo'
            , cols: [
                [ //表头

                    {field: 'studentName', title: '学员姓名', fixed: 'left', align: "center", totalRowText: '合计'}
                    , {field: 'userName', title: '录入人',  align: "center"}
                    , {field: 'idCard', title: '身份证号',  align: "center"}
                    , {field: 'sex', title: '性别',  align: "center"}
                    , {field: 'address', title: '地址',  align: "center"}
                    , {field: 'phone', title: '电话号码',   align: "center"}
                    , {field: 'amount', title: '代理费',  align: "center",totalRow: true}
                    , {field: 'registerDate', title: '日期',  sort: true, align: "center"}
                    , {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
                ]
            ]

        });


        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            data = [data.idCard];
            // console.log("data数据为：", data);//调试对象
            // console.log("学员名数据为：", data.userName);//调试对象
            if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    // obj.del();
                    layer.close(index);
                    deletestudent(data);
                });
            }
        });

        //监听模糊查找按钮事件
        form.on('submit(searchButton)', function (message) {
            // console.log(data.field);
            var field = message.field;
            // console.log(field);
            table.reload('testReload', {
                url: '/admin/adminGetHqStudent'
                ,method: 'post'
                ,data: field
                ,request: {
                    pageName: 'page' //页码的参数名称，默认：page
                    ,limitName: 'limit' //每页数据量的参数名，默认：limit
                }
                ,where: {
                    studentName : field.studentName
                    ,idCard: field.idCard
                    ,sex: field.sex
                    ,address: field.address
                    ,phone: field.phone
                    ,amount: field.amount
                    ,registerDate: field.registerDate
                }
                ,page: {
                    curr: 1
                }
            });
            return false
        });


        //申请删除学员
        function deletestudent(data) {

            // console.log('删除的学员为', data);
            $.ajax({
                method: 'post',
                url: '/admin/deleteStudent',
                data: JSON.stringify(data),
                contentType: 'application/json',
                datatype: "json",
                success: function (resp) {
                    // console.log(resp);
                    if (resp.code == 0) {
                        layer.msg(resp.msg, {icon: 6});
                        //刷新数据
                        $(".layui-laypage-btn").click();
                    } else {
                        layer.msg(resp.msg, {icon: 5});
                    }
                }
            })
            return false;
        }
    });
</script>
</body>
</html>